#myWebGLCanvas {
    width: 900px;
    height: 600px;
    display: block;
}

#hud {
    position: absolute;
    left: 10px;
    top: 10px;
    color:#fff;
    font-size:16px;
    background:rgba(0,0,0,0.5);
    padding:8px;
    border-radius:8px;
}